.options-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.custom-slider {
    appearance: none;
    margin: 15px auto;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    background: var(--light-grey-color);
    box-shadow: 0px 2px 2px 1px rgba(236, 86, 5, 0.36);
}

.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--orange-color);
    cursor: ew-resize;
    transition: background .3s ease-in-out;
}


.custom-slider::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.label {
    color: #ffffff;
    font-family: 'Bodoni Moda', sans-serif;
    font-size: 20px;
}

.label::after {
    content: "min";
}

.icons {
    width: 20px;
    height: 20px;
    color: var(--orange-color);
}