.music-container {
    width: 75%;
    height: fit-content;
    margin: 10px auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 15px;
}

.music-container iframe {
    border-radius: 10px;
    height: 75px;
}