.tasks-container {
    height: fit-content;
    border-radius: 10px;
    padding: 15px;
    margin: 0 15px;
    backdrop-filter: blur(15px) brightness(70%);
    color: #ffffff;
    text-align: left;
  }

  .task__name:hover {
    background: #0000001b;
    cursor: pointer;
  }

  .task__name {
    border-radius: 2px;
    padding: 5px;
  }


@media (min-width: 750px) {

  .tasks-container {
    margin: 0 15px;
    min-width: 450px;
  }

  .task__delete {
    opacity: 0;
    transition: 0.2s;
  }
  
  .task__delete:hover {
    opacity: 1;
  }
}

@media (max-width: 750px) {
  .tasks-container {
    margin: 15px auto;
    width: 90%;
    max-width: 450px;
  }
}

.tasks-container__header--title {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin: 0 0 10px 0;
  color: var(--orange-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
  text-align: center;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5px 0;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
}

.task div {
  display: flex;
  align-content: center;
  color: #ffffff;
}

.task svg:hover {
  cursor: pointer;
  color: var(--purple-light-color);
}

.task svg {
  margin: 0 2px;
}


.task__name {
  margin: 0 5px;
  width: fit-content;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.tasks-container__input--task {
  width: 75%;
  background: #0000001b;
  color: #ffffff;
  font-weight: bold;
  font-family: TimeBurner, sans-serif;
  border-radius: 5px;
  padding: 5px;
  border: none;
  outline: none;
}

.tasks-container__error-task {
  font-weight: bold;
  color: red;
  font-size: 14px;
  margin: 5px;
}

.tasks-container__form {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 15px auto 0 auto;
}

.tasks-container__input-icons {
  width: fit-content;
  margin-left: 10px;
  transition: 0.3s;
}

.tasks-container__input-icons svg:hover {
  cursor: pointer;
  color: var(--purple-light-color);
}

.tasks-container__input-btn {
  outline: none;
  appearance: none;
  border: none;
  border-radius: 3px;
  backdrop-filter: blur(15px);
  padding: 3px 8px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

.tasks-container__input-btn:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}

.tasks-container__input-btn:active {
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.2);
}

#fox_pen {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: auto;
  text-align: center;
}
